<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="C:/Users/Quantaria/IdeaProjects/WoWHead_Testing/testng.xml">
        <classes>
            <class name="UI.ClassGuideTest"/>
            <class name="UI.ProfessionGuideTest"/>
            <class name="UI.NewsTest"/>
            <class name="UI.WebElementsPresentsTest"/>
        </classes>
    </test>
</suite>